<!DOCTYPE html>
<html>
  <head>
    <title>Please Log In</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      min-height: 100%;
      }
      form {
      
      }
      input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      box-sizing: border-box;
      }
      button {
      background-color: black;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius:60px
      }
      h1 {
      margin: 0;
      font-weight: 800;
      text-align: center;
      font-size: 45px;
      }
      button:hover {
      background: green;
      color: black;
      }
      .formcontainer {
      text-align: left;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      text-align:left;
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
    </style>
  </head>
  <body>
    <form class="" action="/login" method="post">

      <h1 class="animate__animated animate__bounceInDown">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      /><font color="darkblue">Please Log In</font></h1>
      <div class="formcontainer">
      <hr>
      <div class="container">
        <label for="email"><strong>Email Address</strong></label>
        <input type="text" placeholder="Enter Email" id="email" value="" name="email" required>
        <label for="password"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" id="password" value="" name="password" required>
      </div>
      <button type="submit"><font size="3"><strong>Login</strong></font></button>
    </form>
  </body>
</html>