<h1>Please log in</h1>
<br>
<br>
<form class="" action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="">
    <input type="submit" name="" value="Login">
</form>
<br>
<br>
<a href="/">Go Back</a>