<!DOCTYPE html>
<html>
  <head>
    <title>My Account</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    </style>
    <body>
    <h1 align="center"><font color="darkblue">My Account</font></h1>
    <h3 class="animate__animated animate__rubberBand" align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    /><mark>Browse any of the projects you've started, or create a new one on the left!</mark></h3>
<br>
<br>
<br>

<form class="" action="/users/<%= @user.id %>" method="post" align="right">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="WARNING: Delete My Account!!">
</form>

</body>
</html>