<!DOCTYPE html>
<html>
  <head>
    <title>My Account</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    </style>
    <body>
<p><strong>Browse any of the projects you've created, or start a new one on the left!</strong></p>

</body>
</html>