<!DOCTYPE html>
<html>
  <head>
    <title>Create A New Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    input[type=text], input[type=string], input[type=integer], input[type=date] {
      width: 100%;
      padding: 8px 6px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      box-sizing: border-box;
      }
      button {
      width: 100%;
      padding: 10px 0;
      margin: 10px auto;
      border-radius: 60px; 
      border: none;
      background: black; 
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: green;
      }
    </style>
    <body>

<h1 align="center"><font color="darkblue">Create A New Project</font></h1>

<form class="" action="/projects" method="post">
    <h3 class="animate__animated animate__rubberBand" align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    /><mark>Fields marked with an * are required</mark></h3>
    
    <div class="container">
    <label for=""><strong>Title:</strong><font color="red" size="5">*</font></label>
    <input type="text" name="title" value="" required>

    <br><label for=""><strong>Description:</strong><font color="red" size="5">*</font></label>
    <input type="text" name="description" value="" required>

    <br><label for=""><strong>Estimated Difficulty (Scale: 1-10):</strong></label>
    <input type="integer" name="difficulty" value="">

    <br><label for=""><strong>Estimated Duration (in minutes):</strong></label>
    <input type="integer" name="duration" value="">

    <br><label for=""><strong>Tools Needed:</strong></label>
    <input type="string" name="tools" value="">

    <br><label for=""><strong>Parts Needed:</strong></label>
    <input type="string" name="parts" value="">

    <br><label for=""><strong>Project Location:</strong></label>
    <input type="string" name="location" value="">

    <br><label for=""><strong>Must Complete By:</strong><font color="red" size="5">*</font></label>
    <input type="date" name="completion" value="" required>

    <br><label for=""><strong>Cost:</strong></label>
    <input type="integer" name="cost" value="$">
    <br>
    <br>
    <button type="submit" value="Create">Create Your New Project</button>
</form>
</div>
</body>
</html>
