<h1>Create A New Project!</h1>

<form class="" action="/projects" method="post">
    <label for="">Title:</label>
    <input type="text" name="title" value="">
    <br><label for="">Description:</label>
    <input type="text" name="description" value="">
    <br><label for="">Est.Difficulty (1-10):</label>
    <input type="integer" name="difficulty" value="">
    <br><label for="">Est. Duration (in minutes):</label>
    <input type="integer" name="duration" value="">
    <br><label for="">Tools Needed:</label>
    <input type="string" name="tools" value="">
    <br><label for="">Parts Needed:</label>
    <input type="string" name="parts" value="">
    <br><label for="">Project Location:</label>
    <input type="string" name="location" value="">
    <br><label for="">Completion Date:</label>
    <input type="date" name="completion" value="">
    <br><label for="">Cost:</label>
    <input type="integer" name="cost" value="">
    <br>
    <br>
    <input type="submit" name="" value="Create a New Project">
</form>