<div class="container">
<h1><font color="darkblue">Welcome to ProjecTrack</font></h1>
<br>
<p><b>While originally designed to track "honey-do" projects around the house, it is very straightforward and therefore can be used to track just about ANY type of project you have!</b></p>
<br>

<a href="/login"><font size="14" color="blue">Log In</font></a>
<br>
<br>
<br>
<font size="5" color="firebrick">Or&nbsp;&nbsp;&nbsp;&nbsp;</font>
<br>
<br>
<br>
<a href="/signup"><font size="14" color="green">Sign Up Here!</font></a>
<br>
<br>
</div>
