<div class="container">
<h1><font color="darkblue">Welcome to ProjecTrack</font></h1>
<br>
<p><b><strong>While originally designed to track "honey-do" projects around the house, it is very straightforward and therefore can be used to track just about ANY type of project you have!</strong></b></p>
</div>
