<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to ProjecTrack</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    h1 {
      margin: 0;
      font-weight: 600;
      text-align: center;
      font-size: 45px;
      }
    
      li {
        padding: 2px 1px;
        margin: 1px 0;
        list-style-image: url('images/bullet_check.png');
        list-style-position: inside;
        font-align: top;
        font-size: 35px;
        }
        h2 {
      margin: 0;
      font-weight: 800;
      text-align: center;
      font-size: 25px;
      }
    </style>
    <body>
<div class="container">
<h1 class="animate__animated animate__bounceInDown"><font color="darkblue" align="center">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />Welcome to ProjecTrack</font></h1>
<br>
<h2  class="animate__animated animate__bounceInUp" align="center"><strong>The ultimate home & "honey-do" project manager!! ProjecTrack can be used to track just about ANY type of project you have! Here are just a few examples of the project data ProjecTrack helps you to track and manage:</strong></h2>
<div style="float:left"; class="animate__animated animate__lightSpeedInLeft">
  <ul>
    <li><strong><font color="darkblue">Location</font></strong></li>
    <li><strong><font color="darkblue">Duration</font></strong></li>
    <li><strong><font color="darkblue">Parts Needed</font></strong></li>
    </ul>
    </div>
    <img src="images/project_team.jpg" align="center" style="float:center; padding: 15px 15px 5px 3px; border-radius:60px;" alt="Team Projects" class="animate__animated animate__jackInTheBox">
    <div style="float:right"; class="animate__animated animate__lightSpeedInRight">
    <ul>
    <li><strong><font color="darkblue">Cost</font></strong></li>
    <li><strong><font color="darkblue">Difficulty</font></strong></li>
    <li><strong><font color="darkblue">Tools Needed</font></strong></li>
  </ul>
  </div>
</div>
</body>
</html>
