<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to ProjecTrack</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    h1 {
      margin: 0;
      font-weight: 600;
      text-align: left;
      }
    </style>
    <body>

<div class="container">
<h1 class="animate__animated animate__bounceInDown"><font color="darkblue">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />Welcome to ProjecTrack</font></h1>
<br>
<h4  class="animate__animated animate__bounceInUp"><strong>While originally designed to track "honey-do" projects around the house, it is very straightforward and therefore can be used to track just about ANY type of project you have!</strong></h4>

</div>
</body>
</html>
