<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to ProjecTrack</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    h1 {
      margin: 0;
      font-weight: 600;
      text-align: center;
      font-size: 45px;
      }
    img {
      width: 100%;
      }
      li {
        padding: 2px 1px;
        margin: 1px 0;
        list-style-image: url('images/bullet_check.png');
        list-style-position: inside;
        font-align: top;
        font-size: 35px;
        }
        h2 {
      margin: 0;
      font-weight: 800;
      text-align: center;
      font-size: 25px;
      }
    </style>
    <body>
<div class="container">
<h1 class="animate__animated animate__bounceInDown"><font color="darkblue" align="center">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />Welcome to ProjecTrack</font></h1>
<br>
<h2  class="animate__animated animate__bounceInUp" align="center"><strong>While originally designed to track "honey-do" projects around the house, ProjecTrack can be used to track just about ANY type of project you have! Here are some of the details ProjecTrack helps you to store and track:</strong></h2></strong></h2>
<div style="float:left";>
  <ul>
    <li><strong>Location</strong></li>
    <li><strong>Duration</strong></li>
    <li><strong>Parts Needed</strong></li>
    </ul>
    </div>
    <div style="float:left";>
    <ul>
    <li><strong>Cost</strong></li>
    <li><strong>Difficulty</strong></li>
    <li><strong>Tools Needed</strong></li>
  </ul>
  </div>
</div>
</body>
</html>
